.card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .read-more {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }