h2 {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 2%;
}

.content-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.home-link {
    margin: 0 auto 1rem auto;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 6px;
    padding: .40rem;
}

.home-link :link,
.home-link :visited,
.home-link :active
{
    color: #02335E;
    text-decoration: none;
}

.home-link :hover {
    color: white;
    background-color: #02335E;
    text-decoration: none;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text {
    position: relative;
    margin: 0 auto;
    padding: 2%;
}

.date {
    margin: 1rem 0 0 0;
    padding: 0;
}

.source {
    margin: .5rem 0 0 0;
    padding: 0;
}


@media screen and (min-width: 769px) {
    .image-container img,
    .caption {
        max-width: 100%;
        font-size: 1.5rem;
    }

    .text {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .home-link {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1155px) {
    .image-container img,
    .caption {
        max-width: 100%;
        font-size: 1.75rem;
    }

    .text {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    .home-link {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .image-container img,
    .caption {
        max-width: 100%;
        font-size: 2rem;
    }

    .text {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    .home-link {
        font-size: 1.75rem;
        padding: .6rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 2560px) {
    .image-container img,
    .caption {
        max-width: 100%;
        font-size: 3rem;
    }

    .text {
        font-size: 3rem;
    }

    h2 {
        font-size: 4rem;
    }

    .home-link {
        font-size: 2.5rem;
        padding: .75rem;
        margin-bottom: 3rem;
    }
}

